.busy-loader {
  position: absolute;
  width: 64px;
  height: 64px;
  margin: auto;
  bottom: 17%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
}
.busy-loader .w-ball-wrapper {
  position: absolute;
  width: 48px;
  height: 48px;
  opacity: 0;
  transform: rotate(225deg);
  animation: orbit 4.4s infinite;
}
.busy-loader .w-ball-wrapper .w-ball {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  left: 0px;
  top: 0px;
  border-radius: 11px;
}
.busy-loader .ball-1 {
  animation-delay: 0.96s;
}
.busy-loader .ball-2 {
  animation-delay: 0.19s;
}
.busy-loader .ball-3 {
  animation-delay: 0.38s;
}
.busy-loader .ball-4 {
  animation-delay: 0.58s;
}
.busy-loader .ball-5 {
  animation-delay: 0.77s;
}
@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    transform: rotate(300deg);
    animation-timing-function: linear;
    origin: 0%;
  }
  30% {
    opacity: 1;
    transform: rotate(410deg);
    animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    transform: rotate(645deg);
    animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    transform: rotate(770deg);
    animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    transform: rotate(900deg);
    animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    transform: rotate(900deg);
  }
}
